.form-cus{
    align-items: center;
    max-width: 700px;
    margin-top: 5%;
}
/*.imagecus{
    max-width: 720px;
}*/
.img-inline{
    display: inline-block;
}
.ooo{
    align-items: center;
}
.tb{
    margin-top: 3%;
}

